{% extends "base.html" %}

  {% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="../static/images/africa.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Hello, I'm Matt</h1>
              <p>And I'm on a journey</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.instagram.com/goorley/" role="button">See where I've been</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="../static/images/code.png" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>I'm using my background in Petroleum Engineering and Management</h1>
              <p>To jumpstart my technology career. I'm looking to build things for the 21st Century. I've worked on five continents with distributed teams to execute large scale projects.</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/mattgoorley" role="button">See Where I Am</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="../static/images/twitter.png" alt="Third slide">
          <div class="container" >
            <div class="carousel-caption">
              <h1>Want to hear what I have to say?</h1>
              <p style="color:blue">Or do you want to have a conversation limited by 140 characters - just like the Founding Fathers intended?</p>
              <p><a class="btn btn-lg btn-primary" href="https://twitter.com/MCGoorley" role="button">Come @ me Bro!</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../static/images/taj.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Technical Backround</h2>
          <p>Graduated with a BS in Petroleum Engineering from LSU. Worked as an engineer in the oil industry for many years before taking a job as Ghana Country Manager.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../static/images/lazysunday.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Full Stack Developer</h2>
          <p>I have built many projects, both solo and as part of a team. I love taking on large problems and taking them down. </p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../static/images/globe.jpeg" alt="Generic placeholder image" width="140" height="140">
          <h2>Global Reach</h2>
          <p>Having worked on five continents, I know how to work as part of diverse team to overcome large challenges. I have led remote teams, as well as projects with budgets of $1 million/day.</p>
<!--           <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ask me about what I've done. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">If I haven't been there and done that, let's go do it. I'm up for any challenge or adventure.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../static/images/fort.jpg">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Full Stack Web Applications. <span class="text-muted">Built those.</span></h2>
          <p class="lead">I've built projects using Python, JavaScript, Flask, Django, jQuery, PostgreSQL, SQLite, MySQL, HTML/CSS.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="../static/images/lazy2.png">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Want to work with me? <span class="text-muted">Reach out and contact me.</span></h2>
          <p class="lead">Front end? Back end? Full Stack? Let's do it.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../static/images/instashots.png">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Matthew Goorley &middot; <a href="https://github.com/mattgoorley">Github</a> &middot; <a href="https://www.linkedin.com/in/mattgoorley">LinkedIn</a></p>
      </footer>

  {% endblock %}
