<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Matthew Goorley</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cover Template for Bootstrap</title>
        <link rel="shortcut icon" href="">

        <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.css">

        <link rel="stylesheet" type="text/css" href="../static/css/about.css">
        <link rel="stylesheet" type="text/css" href="../static/css/contact.css">
        {% block links %}
        {% endblock %}
    </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="https://www.linkedin.com/in/mattgoorley">Matthew Goorley</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://mattgoorley/sundayfunday">Sunday Funday</a></li>
                    <li><a href="http://lazysundayapp.com">Lazy Sunday</a></li>
                    <li><a href="#"></a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">More Projects</li>
                    <li><a href="https://github.com/mattgoorley/wikicrawler">WikiCrawler</a></li>
                    <li><a href="http://mattgoorley.com/snowday">Snow Day</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <div class="container">
      {% block content %}
      {% endblock %}
    </div>


    </div><!-- /.container -->


    <script type="text/javascript" src="../static/vendor/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>
</html>
