<!doctype html>
<html lang="en">
    <head>
        <title>Matthew Goorley</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Cover Template for Bootstrap</title>
        <link rel="shortcut icon" href="">

        <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.css">

        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    </head>






    <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Full Stack Developer</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/home">Home</a></li>
                  <li><a href="/about">About Me</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Matthew Goorley</h1>

            <p class="lead">Full Stack Developer, Petroleum Engineer, Project Manager</p>
            <p class="lead">
              <a href="https://docs.google.com/document/d/1I1guOR4MjQ0rDtDtWekUXg9ZvqJXMGyGRVBXN4Qi708/edit?usp=sharing" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Follow me on <a href="https://github.com/mattgoorley/">Github</a> or <a href="https://www.linkedin.com/in/mattgoorley">LinkedIn</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>


    <script type="text/javascript" src="../static/vendor/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
  </body>

</html>
