<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Matthew Goorley Portfolio">
    <meta name="author" content="Matthew Goorley">

    <title>Matthew Goorley - Full Stack Developer</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="../static/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">Matthew</span> Goorley
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Matthew Goorley</h1>
                        <p class="intro-text">Full Stack Developer</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I am a full stack developer passionate about meeting new people and trying new things. Check out my <a href="http://github.com/mattgoorley">Github</a>. I love to collaborate, and am interested in hearing from you.</p>
                <p>Connect with me on <a href="https://www.linkedin.com/in/mattgoorley/">LinkedIn</a> or <a href="#contact">reach out to me</a>.</p>
                <p>I'm great with Python, JavaScript, and HTML/CSS.</p>
            </div>
        </div>
    </section>

    <!-- Projects Section -->
    <section id="download" class="content-section text-center">
        <div class="portfolio-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Lazy Sunday</h2>
                    <p>Web application that allows you to discover food delivery options and movies to watch. Uses Facebook Oauth to login.</p>
                    <a href="http://lazysundayapp.com" class="btn btn-default btn-lg">Lazy Sunday</a>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sunday Funday</h2>
                    <p>Don't know where to go? Quickly find a place to get drinks, dinner, coffee, and more.</p>
                    <a href="http://mattgoorley.com/sundayfunday" class="btn btn-default btn-lg">Sunday Funday</a>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>SBC Lawncare</h2>
                    <p>Need your yard done in North Louisiana? Try SBC Lawncare, and take a look at the site I built for them.</p>
                    <a href="http://sbclawncare.com" class="btn btn-default btn-lg">SBC Lawncare</a>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Snowday</h2>
                    <p>I got bored on a snow day in NYC and built a web application that allows you to find places within 100 meters of where you are.</p>
                    <a href="http://mattgoorley.com/snowday" class="btn btn-default btn-lg">Snowday</a>
                </div>
            </div>

        </div>

    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Me</h2>
                <p>Feel free to email me to get in touch if you're interested in working together, want to collaborate, or to just say hello!</p>
                <p><a href="mailto:mattgoorley@gmail.com">mattgoorley@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/MattGoorley" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/mattgoorley" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/mattgoorley/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
    </footer>

    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/grayscale.js"></script>

</body>

</html>
